name: 'Tests'

on:
  push:
    tags:
      - v**
    branches-ignore:
      - 'dependabot/**'
  pull_request:
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0

  jest-tests:
    name: Unit test + Build
    runs-on: ubuntu-latest
    needs: pre-commit
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: npm ci
      - name: Test Build
        run: npm run test_build
      - name: Running jest tests
        run: npm test
      - name: Build dist
        run: npm run package
      - uses: actions/upload-artifact@v3
        with:
          name: dist-built
          path: dist/index.js

  test-integration-default:
    name: Default settings
    runs-on: ${{ matrix.os }}
    needs: jest-tests
    env:
      CONDA_CHANNELS: 'defaults'
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Prepare tests
        run: |
          python --version
          python integrationtests/prepare_tests.py
      - name: Download built dist
        uses: actions/download-artifact@v3
        with:
          name: dist-built
          path: dist
      - name: Run setup-conda
        uses: ./
      - name: Install pandoc and graphviz
        run: |
          conda install pandoc graphviz
          which pandoc
      - name: Check env
        run: printenv
      - name: Run tests
        run: |
          python -m pip install -q pytest
          python -m pytest -v integrationtests
      - name: Run tests with bash on windows
        if: matrix.os == 'windows-latest'
        shell: bash
        run: |
          python -m pytest -v integrationtests

  test-integration-test-env:
    name: Env login shell
    runs-on: ${{ matrix.os }}
    needs: jest-tests
    env:
      CONDA_CHANNELS: 'defaults'
      ENV_PYTHON: 3.8
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Prepare tests
        run: |
          python --version
          python integrationtests/prepare_tests.py
      - name: Download built dist
        uses: actions/download-artifact@v3
        with:
          name: dist-built
          path: dist
      - name: Run setup-conda
        uses: ./
        with:
          activate-conda: false
      - name: Create Test env
        shell: bash -l {0}
        run: |
          conda create --name TEST python=3.8
          source activate TEST
          conda install pandoc graphviz
          pip install -q pytest
          which pip
          which pandoc
          printenv
      - name: Check env
        run: printenv
      - name: Run tests
        shell: bash -l {0}
        run: |
          source activate TEST
          python -m pytest -v integrationtests

  test-integration-test-env-no-login:
    name: Env no login shell
    runs-on: ${{ matrix.os }}
    needs: jest-tests
    env:
      CONDA_CHANNELS: 'defaults'
      ENV_PYTHON: 3.8
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Prepare tests
        run: |
          python --version
          python integrationtests/prepare_tests.py
      - name: Download built dist
        uses: actions/download-artifact@v3
        with:
          name: dist-built
          path: dist
      - name: Run setup-conda
        uses: ./
        with:
          activate-conda: false
      - name: Create Test env
        shell: bash
        run: |
          conda create --name TEST python=3.8
          source activate TEST
          conda install pandoc graphviz
          pip install -q pytest
          which pip
          which pandoc
          printenv
      - name: Check env
        run: printenv
      - name: Run tests
        shell: bash
        run: |
          source activate TEST
          python -m pytest -v integrationtests

  test-integration-old:
    name: Older Python (3.6)
    runs-on: ${{ matrix.os }}
    env:
      ENV_PYTHON: '3.6'
      CONDA_CHANNELS: 'defaults,anaconda,conda-forge'
    needs: jest-tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Prepare tests
        run: |
          python --version
          python integrationtests/prepare_tests.py
      - name: Download built dist
        uses: actions/download-artifact@v3
        with:
          name: dist-built
          path: dist
      - name: Run setup-conda
        uses: ./
        with:
          update-conda: true
          python-version: 3.6
          conda-channels: anaconda, conda-forge
      - name: Install pandoc and graphviz
        run: |
          conda install pandoc graphviz
          which pandoc
      - name: Check env
        run: printenv
      - name: Run tests
        run: |
          python -m pip install -q pytest
          python -m pytest -v integrationtests

  test-integration-new:
    name: Newer Python (3.10)
    runs-on: ${{ matrix.os }}
    env:
      ENV_PYTHON: '3.10'
      CONDA_CHANNELS: 'defaults,anaconda,conda-forge'
    needs: jest-tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Prepare tests
        run: |
          python --version
          python integrationtests/prepare_tests.py
      - name: Download built dist
        uses: actions/download-artifact@v3
        with:
          name: dist-built
          path: dist
      - name: Run setup-conda
        uses: ./
        with:
          update-conda: true
          python-version: '3.10'
          conda-channels: anaconda, conda-forge
      - name: Install pandoc and graphviz
        run: |
          conda install pandoc graphviz
          which pandoc
      - name: Check env
        run: printenv
      - name: Run tests
        run: |
          python -m pip install -q pytest
          python -m pytest -v integrationtests

  test-no-activation:
    name: System Python
    runs-on: ${{ matrix.os }}
    env:
      NOT_ACTIVATED: true
      CONDA_CHANNELS: 'defaults'
    needs: jest-tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Prepare tests
        run: |
          python --version
          python integrationtests/prepare_tests.py
      - name: Download built dist
        uses: actions/download-artifact@v3
        with:
          name: dist-built
          path: dist
      - name: Run setup-conda
        uses: ./
        with:
          activate-conda: false
      - name: Install pandoc and graphviz
        run: |
          conda install pandoc graphviz
          which pandoc
      - name: Check env
        run: printenv
      - name: Run tests
        run: |
          python -m pip install -q pytest
          python -m pytest -v integrationtests

  test-no-activation-setup-python:
    name: Setup Python
    runs-on: ${{ matrix.os }}
    env:
      NOT_ACTIVATED: true
      CONDA_CHANNELS: 'defaults'
    needs: jest-tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Download built dist
        uses: actions/download-artifact@v3
        with:
          name: dist-built
          path: dist
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Prepare tests
        run: |
          python --version
          python integrationtests/prepare_tests.py
      - name: Run setup-conda
        uses: ./
        with:
          activate-conda: false
      - name: Install pandoc and graphviz
        run: |
          conda install pandoc graphviz
          which pandoc
      - name: Check env
        run: printenv
      - name: Run tests
        run: |
          python -m pip install -q pytest
          python -m pytest -v integrationtests

  test-pypy:
    name: Test PyPy
    runs-on: ${{ matrix.os }}
    needs: jest-tests
    env:
      PYPY_TEST: true
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        pypy-ver: ['pypy3.7']
        include:
          - os: ubuntu-latest
            pypy-ver: 'pypy2.7'
    steps:
      - uses: actions/checkout@v3
      - name: Download built dist
        uses: actions/download-artifact@v3
        with:
          name: dist-built
          path: dist
      - name: Prepare tests
        run: |
          python --version
          python integrationtests/prepare_tests.py
      - name: Run setup-conda
        uses: ./
        with:
          conda-channels: conda-forge
          python-version: ${{ matrix.pypy-ver }}
      - name: Run tests
        run: |
          pypy --version
      - name: Check env
        run: printenv
      - name: Run tests
        run: |
          pypy -m ensurepip
          pypy -m pip install -q pytest
          pypy -m pytest -v integrationtests/test_python_version.py
